<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.servlet.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDao</servlet-name>
        <servlet-class>com.dao.UserDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>com.servlet.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuiz</servlet-name>
        <servlet-class>com.servlet.CheckQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDao</servlet-name>
        <url-pattern>/UserDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuiz</servlet-name>
        <url-pattern>/CheckQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
